@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font-family: Roboto Slab, serif;
}

.menu {
    background-color: black;
    height: 20px;
    font-family: Roboto Condensed,serif;
}
.menu a {
    color: white;
}
.menu a:hover {
    text-decoration: none;
    color: #c0323b;
}

.menu-left {
    font-size: 10pt;
    padding: 0 10px;
    display: inline-block;
    background-color: #3b3b3a;
    color: white;
    letter-spacing: 1px;
}

.social {
    display: inline-block;
}
.social li {
    text-align: center;
    display: inline;
}
.social li div {
    border-radius: 50%;
    background-color: #3b3b3a;
    display: inline-block;
}
.social li,a,span {
    width: 20px;
}

.language {
    display: inline-block;

    float: right;
    background-color: #c0323b;
    color: white;
    padding: 3px 10px;
    border-bottom-left-radius: 10px;
    font-size: 8pt;
    letter-spacing: 1px;
}
.language a:hover {
    text-decoration: none;
    color: black;
}

.header {
    color: white;
    text-align: center;
    background-image: url("../images/hacking-health-camp-strasbourg.png");
    max-width: 1200px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.header h1 {
    font-family: "Roboto Condensed", serif;
    font-size: 5em;
    margin: 0;
}
.header h2 {
    font-family: "Roboto Condensed", serif;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 17pt;
}
.header h3 {
    font-size: 55px;

}
.header h4 {
    font-size: 35px;

    margin-bottom: 25px;
}
.header a {
    color: #c0323b;
    border-color: #c0323b;
    background-color: transparent;
    font-size: 12pt;
    display: inline;
}
.header a:hover {
    color: red;
}

.events {
    /* margin-top: 60px; */
    margin-bottom: 60px;
    text-align: center;
}
.events .well {
    font-family: Roboto Condensed, serif;

}
.events h1 {
    font-size: 19pt;

}
.events h2 {
    font-size: 15pt;

}
.events p {

}
.events img {
    padding-bottom: 12px;

}
.events span {
    font-size: 13pt;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}
.yellow {
    background-color: #ffd36a;
}
.blue {
    background-color: #00c2d1;
}
.red {
    background-color: #c0323b;
}
.green {
    background-color: #00bc61;
}
.events p {
    text-align: left;
    margin: 0 15px;
}

.schedule {
  visibility: hidden;
    background-image: url("../images/hacking-health-camp-world.png");
    background-position: center;
    background-size: cover;
}
.schedule span {
    color: white;
    background-color: #c0323b;
    margin: 0;
    padding: 3px 10px;
}
.panel {
    background-color: transparent;
}
.schedule .panel-group {
    margin: 45px 170px;
}
.schedule .panel-heading {
    color: white;
    background-color: black;
}
.schedule table {
    color: #c0323b;
}
.schedule .table tbody td {
    border-top: 1px solid #c0323b;
}
.schedule .table thead th {
    border-bottom: 3px solid #c0323b;
    font-size: 16pt;
}
.schedule h4 {

}
.schedule h4 b {
    font-size: 22pt;

}

.quote {
    background-image: url("../images/hacking-health-camp-team.jpg");
    background-position: center;
    text-align: center;
    padding: 91px 0;
    color: #333333;
}
.quote img#left {
    vertical-align: bottom;
}
.quote img#right {
    vertical-align: top;
}
.quote blockquote {
    font-size: 18pt;
    font-weight: bold;
    line-height: 38px;
    padding: 0 108px;
    margin: 0;
    border: 0;
}
.quote span {
    font-size: 14pt;

    font-style: italic;
}

.description {
    background-color: #333333;
    padding: 30px 0;
}
.description span {
    color: white;
    background-color: #c0323b;
    margin: 0;
    padding: 3px 10px;
    margin-left: 16.66666666666666666666%;
}
.description .event {
    background-color: white;
    padding: 10px 10px;
    display: inline-block;
    width: 100%;
}
.description h1 {
    font-size: 16pt;
    font-weight: bold;
    padding-left: 10px;
}
.description p {
    background-color: black;
    color: white;
    font-size: 10pt;
    padding: 15px 15px;
}
.description .event div {
    display: inline-block;
}
.description .img-circle {
    width: 100px;
    line-height: 100px;
    text-align: center;
}

#map_canvas {
  height: 400px;
}

#legend > div {
  /* top: 0; */
  /* left: 250px; */
  margin-top: 30px;
  margin-left: 60px;
}
#legend span {
  background: #c0323b;
  color: white;
  font-size: 10pt;
  padding:5px 5px;
}
#legend h1 {
    margin: 10px 0px;

}
#legend h2 {
    margin: 0;

}
#legend > div > div {
    margin-top: 20px;

}
#legend > div > div > span {
    display: inline;

    padding: 6px 9px;
    border-radius: 50%;
    font-size: 19pt;
}
#legend h3 {
    display: inline;

}

.partners {
    padding: 40px 0;

}
.partners span {
  color: white;
  background-color: #c0323b;
  margin: 20px 0px 0 100px;
  padding: 3px 10px;
}
.partners > div {
  border-top: solid 1px #c0323b;
  margin: 30px 0px 0px 15px;
}
.partners h1 {
    font-size: 18pt;

    color: #c0323b;
}
.partners > div > div {
    text-align: center;
}
.partners img {
    display: inline;
    width: 260px;
    margin: 0 20px;
}

.contact {
  background-image: url('../images/hacking-health-crowd.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 170px;
}
.contact span {
  color: white;
  background-color: #c0323b;
  /* margin: 76px 0px 0px 100px; */
  padding: 3px 8px;
  /* position: absolute; */
}
.contact > div {
  margin: 0px 30px;
  /* padding: 100px 0px 0px 10px; */
}
.contact .well {
    background-color: rgb(0,0,0);
    color: white;
    border-radius: 0;
    border: 0;
    opacity: 0.8;
}
.contact h1 {
    font-size: 20pt;
    margin: 0;
}
.contact p {
    padding: 9px 0;
}
.contact a {
  color: #c0323b;
  background-color: transparent;
  margin-top: 10px;
  border: solid 1px #c0323b;
  font-size: 14pt;
  padding: 5px 15px;
  display: inline;
}
.contact a:hover {
    color: red;
}


.footer {
  background-color: #333333;
  padding: 10px 0px;
}
.footer div {
  display: inline-block;
  color: white;
}
.footer a {
  color: white;
}
.footer a:hover {
  text-decoration: none;
  color: #c0323b;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
      max-width: 1200px;
    }
    .header a {
      font-size: 24pt;
    }
    .schedule {
      visibility: visible;
    }
    .quote blockquote {
      font-size: 32pt;
    }
}
